<html lang="en">


<%- include('./partials/header') %>

        <body>

                <%- include('./partials/nav') %>
                        <img src="pizza-house.png" alt="PizzaLogo" class="logoimg">
                        <a style="text-decoration: none;" href="/pizzas"><button type="button"
                                        class="btn btn-warning button">View
                                        Recipies</button></a>

        </body>
        <%- include('./partials/footer') %>

</html>