<html lang="en">

<%- include('./partials/header') %>

    <body>
        <%- include('./partials/nav') %>
            <h1 style="text-align: center;font-family: 'Itim', cursive;">Recipies</h1>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <img class="card-img-top" src="pizzasimg/chicken.jpg" alt="Card image cap">
                            <h5 class="card-title">Chicken Pizza</h5>
                            <p class="card-text">Feel the crispy and natural taste of Chicken</p>

                        </div>

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <img class="card-img-top" src="pizzasimg/chicago.jpg" alt="Card image cap">
                            <h5 class="card-title">Chicago Pizza</h5>
                            <p class="card-text">You will love the juicy pizza all over form Chicago</p>

                        </div>

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <img class="card-img-top" src="pizzasimg/detroit.jpg" alt="Card image cap">
                            <h5 class="card-title">Detroit Pizza</h5>
                            <p class="card-text">The thick and crispy pizza loved by all</p>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <img class="card-img-top" src="pizzasimg/garlic.jpg" alt="Card image cap">
                            <h5 class="card-title">Garlic Pizza</h5>
                            <p class="card-text">100% vegeterian and organic pizza with Garlic sprinkled in it</p>

                        </div>

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <img class="card-img-top" src="pizzasimg/greek.jpg" alt="Card image cap">
                            <h5 class="card-title">Greek Pizza</h5>
                            <p class="card-text">The old and most beloved pizza</p>

                        </div>

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <img class="card-img-top" src="pizzasimg/mushroom.jpg" alt="Card image cap">
                            <h5 class="card-title">Mushroom Pizza</h5>
                            <p class="card-text">Taste the real mushroom</p>

                        </div>

                    </div>

                </div>

            </div>

    </body>

    <%- include('./partials/footer') %>

</html>